* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

.navbar{
  margin: 10px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.navbar_list{
  display: flex;
}

.navbar_list li{
  margin-right: 10px;
}

.navbar_list li:last-child{
  margin-right: 0;
}

.about-title{
  text-align: center;
}

.login-block{
  width: 500px;
  margin: 0 auto;
}

.login-form{
  display: grid;
  justify-content: center;
  align-items: center;
}

.logout{
  text-align: right;
  margin-right: 10px;
}

.logout-btn{
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.logout-btn:hover{
  transform: scale(1.1);
  animation: linear;
}

.tabs-block{
  text-align: center;
  margin-bottom: 20px;
}

.rights-block{
  width: 500px;
  margin: 0 auto;
  text-align: center;
}

.rights-tab{
  background: tomato;
}

.role-tab{
  background: gray;
}

.role-block{
  display: none;
  width: 500px;
  margin: 0 auto;
  text-align: center;
}

.modal-right, 
.modal-role,
.modal-user{
  display: none;
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  overflow: auto;
}

.modal_content-right,
.modal_content-role,
.modal_content-user{
  display: grid;
  margin: 200px auto;
  background: white;
  padding: 20px;
  width: 20%;
  z-index: 99999;
}

.close{
  cursor: pointer;
}

.rule-list, .rule-btn, .role-list, .role-name,
.rights, .list, .role-btn, .users-list{
  margin-bottom: 5px;
}

.pages, .page-list{
  display: flex;
  justify-content: center;
}

.pages li{
  margin-right: 5px;
}

.pages li:last-child{
  margin-right: 0;
}

.page-list li{
  margin-right: 5px;
}

.page-list li:last-child{
  margin-right: 0;
}

.pages-elem{
  width: 20px;
  height: 20px;
}

.page-active{
  background: tomato;
}

input[type="checkbox"]{
  margin-right: 5px;
}

.users, .save-changes{
  text-align: center;
}

.users-title,
.create-user{
  margin-bottom: 10px;
}

.modal_content-user input{
  margin-bottom: 5px;
}

.modal_content-user select{
  margin-bottom: 5px;
}

.list-elem{
  display: flex;
  justify-content: center;
}

.list-elem p{
  width: 100%;
  padding: 10px;
  border: 1px solid black;
}

.list-elem span{
  width: 100%;
  padding: 10px;
  border: 1px solid black;
}

.edit-input{
  width: 95%;
}

.about-block{
  text-align: center;
}

.about-block p{
  width: 500px;
  margin: 0 auto 20px auto;
}

.add-book-tab{
  background: tomato;
}
.book-list-tab{
  background: gray;
}

.form-block{
  width: 500px;
  margin: 0 auto;
}

.book-form{
  display: grid;
  margin: 0 auto;
  width: 50%;
}

.book-form input{
  margin-bottom: 5px;
}

.book-form select{
  margin-bottom: 5px;
}

.list-block{
  display: none;
}

.book-list{
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.book-list li{
  width: 230px;
  margin-right: 15px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
}

.book-img{
  width: 200px;
  border: 1px solid red;
}

.book-page-quantity{
  margin-bottom: 5px;
}

.save-changes{
  display: flex;
  margin: 0 auto;
}

.btn-span{
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}

.buy-span{
  display: flex;
  justify-content: center;
}

.buy-quantity{
  width: 35px;
  margin-right: 5px;
}

.btn-plus, .btn-minus{
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.btn-edit-book{
  margin-right: 5px;
}

.chk{
  display: none;
}

label::before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  background-image: url(../img/like.svg);
  cursor: pointer;
}

.chk:checked + label::before {
  content: '';
  background-image: url(../img/heart.svg);
  cursor: pointer;
}

.filter-block{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 10px;
}